body {
	font: 14px Arial, sans-serif;
	margin: 0;
}
#wrap {
	margin: 0 auto;
	width: 840px;
}
#form {
	border-right: 1px solid #eee;
	float: left;
	min-height: 1px;
	padding: 100px 40px 100px 0;
	width: 280px;
}
#output {
	border: 0;
	float: left;
	font-size: 12px;
	height: 3200px;
	margin-top: 100px;
	margin-left: 40px;
	padding: 16px 0;
	outline: 0;
	resize: none;
	width: 460px;
}
