* {
	box-sizing: border-box;
}
body {
	font: 14px Arial, sans-serif;
	margin: 100px 0;
}
input {
	width: 100%;
	padding: 4px 6px;
}
.title {
	text-transform: capitalize;
}
.array > .title {
	font-weight: bold;
	margin: 20px 0 10px;
}
.array .item {
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 10px;
}
.array .item + .item {
	margin-top: 10px;
}
.array .item > .string .title {
	display: none;
}
.string {
	margin-bottom: 5px;
}
.append {
	margin: 0px;
	margin-top: 8px;
}
#form {
	max-width: 320px;
	margin: 0 auto;
}
